doctype html
html
    head
        title #{title}
        link(rel='stylesheet' type='text/css' href='./css/index.css')
    body
        section
         h1.header(style='text-align: center;')
            span.header_text Reviews
        
        section
            block content
                h1 Hi, this is just a placeholder
